@{

    ViewBag.Title = "FactorList";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Factor List</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
</head>

<body>
    <div class="container">
        <div style="color:#3376bf">
            <h2><b>Potential Sleep Impacting Factors</b></h2>
        </div>
            <p>This list is created according to evidence-based sleep research literature.Why not exploring whether these factors actually impact your sleep? </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Factors</th>
                        <th>Tracking Tips</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Coffee</td>
                        <td>Cups of coffee consumed during a whole day.</td>

                    </tr>
                    <tr>
                        <td>Alcohol</td>
                        <td>Amount of alcohol consumed during a whole day.</td>
                    </tr>
                    <tr>
                        <td>Mood</td>
                        <td>Rate it right before bedtime.</td>
                    </tr>
                    <tr>
                        <td>Stress</td>
                        <td>Rate it right before bedtime.</td>
                    </tr>
                    <tr>
                        <td>Tiredness</td>
                        <td>Rate it right before bedtime.</td>
                    </tr>
                    <tr>
                        <td>Digital Devices</td>
                        <td>Estimate degree of usage within three hours before bedtime.</td>
                    </tr>
                    <tr>
                        <td>Light</td>
                        <td>Estimate degree of exposure within three hours before bedtime.</td>
                    </tr>
                    <tr>
                        <td>Nap</td>
                        <td>Duration of nap during daytime.</td>
                    </tr>
                    <tr>
                        <td>Social Activities</td>
                        <td>Rate it within three hours before bedtime.</td>
                    </tr>
                    <tr>
                        <td>Body Temperature</td>
                        <td>Measure it right before bedtime.</td>
                    </tr>
                    <tr>
                        <td>Hormone Cycle</td>
                        <td>The number of days from the first day of the latest period.</td>
                    </tr>
                    <tr>
                        <td>Ambient Temperature</td>
                        <td>Measure room temperature right before bedtime.</td>
                    </tr>
                    <tr>
                        <td>Ambient Humidity</td>
                        <td>Measure room humidity right before bedtime.</td>
                    </tr>
                    <tr>
                        <td>Exercise Time</td>
                        <td>The time stamp when you finish exercising.</td>
                    </tr>
                    <tr>
                        <td>Dinner Time</td>
                        <td>The time stamp when you have dinner.</td>
                    </tr>
                    <tr>
                        <td>Dreams</td>
                        <td>Memory of dreams - good or bad.</td>
                    </tr>
                </tbody>
            </table>
        </div>
</body>
</html>
