@{
    ViewBag.Title = "Callback";
}
<div class="container">
    <div class="row">
        @if (ViewBag.AccessToken != null)
        {

            <p>FitBit Connected Successfully</p>

        }
        else
        {
            <p>The current session has not been authenticated with fitbit</p>
        }
        <p>@Html.ActionLink("Upload My Fitbit Data", "Sync", "UserDatas", new { }, new { @class = "btn btn-primary" })</p>

        <p><a href="/Userdatas/FactorQuestions" class="btn btn-primary">Testing Factor Questions &raquo;</a></p>

    </div>
</div>